---
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");

const metadata = {
  title: "Blog",
  description:
    "My journey through the ever-evolving tech landscape. I share my coding projects, learning experiences, and reflections on the software engineering world.",
};
---

<Layout title={metadata.title} description={metadata.description} mainClass="py-24 max-w-full">
    <h1 class="text-5xl font-bold text-primary mb-16">All Posts</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        posts.map((post) => (
          <BlogCard post={post} />
        ))
      }
    </div>
</Layout>
