---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Writings from "../components/Writings.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
  <main class="max-w-full">
    <Hero />
    <Projects />
    <Writings posts={posts} />
    <Experience />
  </main>
</Layout>
