---
---

<section id="closing" class="mt-20 lg:mt-40">
  <span class="max-w-md pb-16 text-sm text-slate-500 sm:pb-0">
    Handcrafted with ❤️ drawing inspiration from{" "}
    <a
      class="font-medium text-slate-900 hover:text-fuchsia-400 focus-visible:text-fuchsia-400"
      href="https://brittanychiang.com/"
    >
      Brittany Chiang
    </a>
  </span>
</section>
