---
import SocialLinks from "./Social.astro";
---

<footer class="mb-16 flex flex-col items-center">
  <SocialLinks
    fillColor=""
    email="hi@aravindsanjeev.com"
    twitter="aravsanj"
    instagram="aravsanj"
    linkedIn="aravsanj"
  />
  <p class="mt-4 text-sm text-secondary">
    © {new Date().getFullYear()} Aravind Sanjeev
  </p>
</footer>
