---
const navItems = {
  "#about": { name: "about" },
  "#experience": { name: "experience" },
  "#projects": { name: "projects" },
  "#blog": { name: "blog" },
};
---

<aside class="tracking-tight mt-10">
  <div class="hidden lg:block">
    <nav
      class="flex flex-row items-start relative px-0 pb-0 fade md:overflow-auto scroll-pr-6 md:relative"
      id="nav"
    >
      <div class="flex flex-col space-x-0 pr-10">
        {Object.entries(navItems).map(([path, { name }]) => (
          <a
            href={path}
            data-target={name}
            class="group flex items-center py-3 cursor-pointer nav-link"
          >
            <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-[#86198f] group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"></span>
            <span
              class="nav-text text-xs font-bold uppercase tracking-widest text-slate-900 group-hover:text-[#86198f] group-focus-visible:text-[#86198f]"
            >
              {name}
            </span>
          </a>
        ))}
      </div>
    </nav>
  </div>
</aside>

<script>
  const targets = ["about", "skills", "experience", "projects", "blog"];
  const navLinks = document.querySelectorAll('.nav-link');

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const id = entry.target.getAttribute('id') ?? "";
          updateActiveLink(id);
        }
      });
    },
    { threshold: 0.7 }
  );

  targets.forEach((target) => {
    const element = document.getElementById(target);
    if (element) observer.observe(element);
  });

  function updateActiveLink(id: string) {
    navLinks.forEach((link) => {
      const linkText = link.querySelector('.nav-text');
      const target = link.getAttribute('data-target');
      
      if (target === id) {
        link.classList.add('active');
        linkText?.classList.remove('text-slate-900');
        linkText?.classList.add('text-fuchsia-800');
      } else {
        link.classList.remove('active');
        linkText?.classList.add('text-slate-900');
        linkText?.classList.remove('text-fuchsia-800');
      }
    });
  }
</script>
