---
import { formatDate } from "@/lib/utils";
const { posts } = Astro.props;
const allBlogs = posts || [];
const sortedBlogs = allBlogs.sort(
  (a: any, b: any) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime(),
);
---

<div class="space-y-6">
  {
    sortedBlogs.map((post: any, index: number) => (
      <div class="flex items-center space-x-4 border-b border-neutral-200 pb-4">
        <span class="text-fuchsia-600 text-lg font-medium">{index + 1}.</span>

        <div class="flex flex-col md:flex-row md:items-center md:gap-12">
          <a
            href={`/blog/${post.slug}`}
            class="text-gray-600 sm:min-w-[400px] font-semibold md:text-lg tracking-tight group-hover:underline hover:underline"
          >
            {post.data.title}
          </a>

          <span class="text-gray-400 min-w-[100px] text-sm md:text-base font-medium tabular-nums">
            {formatDate(post.data.publishedAt, false)}
          </span>
        </div>
      </div>
    ))
  }
</div>
