---

---

<nav>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center">
        <a
          href="/"
          class="text-fuchsia-600 text-xl font-semibold hover:text-fuchsia-500"
        >
          Aravind Sanjeev
        </a>
      </div>
      <div class="hidden sm:flex space-x-4">
        <a href="/#about" class="text-gray-600 hover:text-fuchsia-600">About</a>
        <a href="/#experience" class="text-gray-600 hover:text-fuchsia-600"
          >Experience</a
        >
        <a href="/#projects" class="text-gray-600 hover:text-fuchsia-600"
          >Projects</a
        >
        <a href="/blog" class="text-gray-600 hover:text-fuchsia-600">Blog</a>
      </div>
      <div class="sm:hidden">
        <button
          id="mobile-menu-btn"
          class="text-gray-600 hover:text-fuchsia-600"
          aria-label="Open Menu"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="fixed inset-0 bg-white z-20 transform translate-x-full transition-transform duration-300 ease-in-out"
  >
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <div
      class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"
    >
    </div>
    <div class="flex justify-between items-center p-4">
      <a href="/" class="text-fuchsia-600 text-xl font-semibold mobile-link">
        Aravind Sanjeev
      </a>
      <button
        id="close-menu-btn"
        class="text-gray-600 hover:text-fuchsia-600"
        aria-label="Close Menu"
      >
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="space-y-8 pl-4 pt-8 pr-8">
      <a
        href="/#about"
        class="mobile-link block text-gray-600 text-lg hover:text-fuchsia-600"
        >About</a
      >
      <a
        href="/#experience"
        class="mobile-link block text-gray-600 text-lg hover:text-fuchsia-600"
        >Experience</a
      >
      <a
        href="/#projects"
        class="mobile-link block text-gray-600 text-lg hover:text-fuchsia-600"
        >Projects</a
      >
      <a
        href="/workbench"
        class="mobile-link block text-gray-600 text-lg hover:text-fuchsia-600"
        >Workbench</a
      >
      <a
        href="/blog"
        class="mobile-link block text-gray-600 text-lg hover:text-fuchsia-600"
        >Blog</a
      >
    </div>
  </div>
</nav>

<script>
  const mobileMenuBtn = document.getElementById("mobile-menu-btn");
  const closeMenuBtn = document.getElementById("close-menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");
  const mobileLinks = document.querySelectorAll(".mobile-link");

  function toggleMenu() {
    mobileMenu?.classList.toggle("translate-x-full");
    mobileMenu?.classList.toggle("translate-x-0");
  }

  mobileMenuBtn?.addEventListener("click", toggleMenu);
  closeMenuBtn?.addEventListener("click", toggleMenu);

  mobileLinks.forEach((link) => {
    link.addEventListener("click", toggleMenu);
  });
</script>
