---
const { title } = Astro.props;
---

<span
  class="flex items-center rounded-md bg-accent/10 px-2 py-0.5 text-[10px] font-bold uppercase tracking-wider text-accent border border-accent/20"
>
  {title}
</span>
